<div class="records">
    <div class="records__filters">
        <mat-checkbox
            *ngFor="let filterType of filterTypes"
            [color]="'primary'"
            [checked]="filterType.checked"
            (change)="onFilterClick(filterType, $event.checked)">
            {{filterType.name}}
        </mat-checkbox>
    </div>
    <cdk-virtual-scroll-viewport
        class="records__wrapper"
        *ngIf="(records$ | async | filterRecords:checkedFilterTypes) as records"
        [itemSize]="records.length">
            <app-record 
                *cdkVirtualFor="let record of records; trackBy: trackByFn; let isFirst = first; let isLast = last"
                [record]="record"
                [isFirst]="isFirst"
                [isLast]="isLast"
                [isActive]="(isActive$ | async) === record.id">
            </app-record>
    </cdk-virtual-scroll-viewport>
</div>