.records {
    &__filters {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    &__wrapper {
        height: calc(100vh - 152px);
        overflow: auto;
    }
}