<div class="records">
    <div class="records__filters">
        <mat-checkbox
            *ngFor="let filterType of filterTypes"
            [color]="'primary'"
            [checked]="filterType.checked"
            (change)="onFilterClick(filterType, $event.checked)">
            {{filterType.name}}
        </mat-checkbox>
    </div>
    <app-record 
        *ngFor="let record of records$ | async | filterRecords:checkedFilterTypes; let isFirst = first; let isLast = last"
        [record]="record"
        [isFirst]="isFirst"
        [isLast]="isLast">
    </app-record>
</div>