.app {
    .mat-toolbar {
        margin-bottom: 32px;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin: 0 32px;
    }
}