$border-divider: 1px dashed white;

.record {
    display: grid;
    align-items: center;
    grid-template-columns: auto 70px auto 70px 1fr;

    &__type {
        display: flex;
        align-self: stretch;
        flex-direction: column;
        pointer-events: none;
    }

    &__vr-dvider {
        flex-grow: 1;
        margin: 0 auto;
        border-left: $border-divider;
        &:first-child {
            transform: translateY(2px);
        }
    }

    &__hr-dvider {
        border-top: $border-divider;
    }



    &__details {
        margin: 20px 0;
        cursor: pointer;

        &:hover {
            filter: brightness(130%);
        }

        &--active {
            border-left: 5px solid orange;
            padding-left: calc(16px - 5px);
        }

        &--first {
            margin-top: 0;
        }
        &--last {
            margin-bottom: 0;
        }
    }
}
